
<div class="panel-body">
    <table class="table table-hover">
        <thead >
            <tr>
                <th>TYPE</th>
                <th>Sample</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Checkbox</td>
                <td>
                    <md-checkbox> sample </md-checkbox>
                </td>
            </tr>
            <tr>
                <td>Input</td>
                <td>
                    <md-input-container>
                        <input mdInput placeholder="Favorite food" value="Sushi">
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td>Input Calendar</td>
                <td>
                    <md-input-container>
                        <input mdInput placeholder="Date" type="date">
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td>Input with limit label</td>
                 <td><md-input-container class="example-full-width">
                    <input mdInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
                        <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td>radiobutton</td>
                <td>
                    <md-radio-group>
                        <md-radio-button value="1">Option 1</md-radio-button>
                        <md-radio-button value="2">Option 2</md-radio-button>
                    </md-radio-group>
                </td>
            </tr>
            <tr>
                <td>select</td>
                <td>
                    <md-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
                        <md-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                        </md-option>
                    </md-select>

                    <p> Selected value: {{selectedValue}} </p>
                </td>
            </tr>
        </tbody>
        
    </table>
</div>