
<div class="panel-body">
    <table>
        <thead>
            <tr>
                <th>TYPE</th>
                <th>Sample</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Checkbox</td>
                <td>
                    <md-checkbox> sample </md-checkbox>
                </td>
            </tr>
            <tr>
                <td>Input</td>
                <td>
                    <md-input-container>
                        <input mdInput placeholder="Favorite food" value="Sushi">
                    </md-input-container>
                </td>
            </tr>
        </tbody>
        
    </table>
</div>